/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{

    background-color: #000000;
    border-bottom: 3px solid #00f5d0;

}
@media only screen and (min-width: 768px) {
    .navigation{
        display: flex;
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .links{
        flex-shrink: 4; /* default 0 */
        font-size: 19px;
        flex-direction:row;
        height: 45px;
        padding: 5px 25px;

    }
}
@media only screen and (max-width: 768px) {
    .links{
        text-align: center;
        flex-direction:column;
        font-size: 25px;
        padding-bottom: 8px;
        width: 100%;

    }
}



.links{
    font-family: sans-serif;
    color: white;
}

.links a{
    color: #fff;
    text-decoration: none;
}
.links a:hover{
    color: #00f5d0;
}